<!DOCTYPE html>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">개인정보 수정</h1>

        <form>
        
        <div class="form-group">
            <label >번호</label>
            <input type="text" class="form-control" name="id" th:value="${dto.id}" readonly>
        </div>
        <div class="form-group">
            <label >UserName</label>
            <input type="text" class="form-control" name="username" th:value="${dto.username}">
        </div>
        <div class="form-group">
            <label >이메일</label>
            <input type="text" class="form-control" name="email" th:value="${dto.email}" >
        </div>
        <div class="form-group">
            <label >패스워드</label>
            <input type="password" class="form-control" name="password" th:value="${dto.password}" readonly>
        </div>
        
        </form>

        <button type="button" class="btn btn-primary modifyBtn">수정</button>

        <script th:inline="javascript">

            //$() 함수: CSS선택자로 HTML 태그를 가져온다
        	var form = $("form"); //form 태그 객체 가져오기

            //click() 메소드 : 수정버튼을 클릭하면 특정코드를 수행한다
            //confirm() 메소드: 수정여부를 확인하는 창을 띄운다.
            //[확인]을 클릭하면, 서버에 게시물 수정을 요청한다.
            //[취소]를 선택하면 이벤트를 종료한다.
            $(".modifyBtn").click(function() {
                if(!confirm("수정하시겠습니까?")){
                    return ;
                }

                //form~attr~submit: 서버에 게시물 수정 요청
                //폼태그는 PUT방식을 사용할 수 없으므로, POST방식으로 처리
                form
                    .attr("action", "/member/modify")
                    .attr("method","post")
                    .submit();
            });

        </script>


    </th:block>

</th:block>
