<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
	<th:block th:fragment="content">
		<div sec:authorize="isAnonymous()">
		
    		<h1>최고의 스트리밍 서비스</h1>
    		<h1>무한한 컨텐츠</h1>
    		<div style="width:100%; display: flex; flex-wrap: wrap;">
    
    		
			    <div th:each="dto : ${list}" style="padding: 3px; background-color: black;">
			       	<img th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${dto.posterPath})}" alt="" width="250px">
			    </div>
			    
			    <!-- <div style="padding: 3px; background-color: black;">
				    <img th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${list[0].posterPath})}" alt="" width="250px">
				</div> -->
			
			</div>
			
		</div>
		<div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
		
    		<h1>영화 인기순 정렬</h1>
			<div style="width:100%; display: flex; flex-wrap: wrap;">
	    
			    <div th:each="dto : ${list}" style="padding: 3px; background-color: black;">
			        <a th:href="@{/movies/read(movieId=${dto.movieId})}">
			       		<img th:src="@{https://image.tmdb.org/t/p/original{poster}(poster=${dto.posterPath})}" alt="" width="250px">
			       	</a>
			    </div>
			
			</div>
		</div>
	</th:block>
</th:block>